<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Expires" content="Thu, 01 Dec 1994 16:00:00 GMT">
<title>社員マスタメンテナンス画面</title>
<link rel="stylesheet" media="all" th:href="@{/css/common.css}" />
<link rel="stylesheet" media="all" th:href="@{/css/employeeMstMnt.css}" />
<script type="text/javascript" th:src="@{/js/common.js}"></script>
<script type="text/javascript" th:src="@{/js/message.js}"></script>
<script type="text/javascript" th:src="@{/js/checkCommon.js}"></script>
<link
	href="https://fonts.googleapis.com/css2?family=Orbitron:wght@500;700;900&display=swap"
	rel="stylesheet">
<script type="text/javascript">
	function checkDeleteFlg(index) {
		var deleteEmployeeId = document.forms[0].elements.deleteEmployeeId;
		var isCheck = false;

		if (deleteEmployeeId.length > 1) {
			isCheck = document.forms[0].elements.deleteEmployeeId[index].checked;
		} else {
			isCheck = deleteEmployeeId.checked;
		}

		document.forms[0].elements.document
				.getElementById('employeeMstMntBeanList[' + index
						+ '].deleteFlg').value = isCheck;
	}

	function employeeMstMntRegisterInit() {
		document.forms[0].action = "/kikin-for-Struts/employeeMstMntRegisterInit.do";
		document.forms[0].submit();
	}

	function employeeMstMntUpdate() {
		var row = document.querySelectorAll(".employeeMntList")
		var listSize = row.length;

		var passwordErrorMsg = '';
		var employeeNameKanaErrorMsg = '';
		var errorMsg = '';

		with (document.forms['mntform'].elements) {
			for (var i = 0; i < listSize; i++) {
				var password = document.getElementById('password_' + i).value;
				var employeeNameKana = document
						.getElementById('employeeNameKana_' + i).value;

				document.getElementById('password_' + i).style.backgroundColor = 'rgba(0, 15, 8, 0.95)';
				document.getElementById('employeeNameKana_' + i).style.backgroundColor = 'rgba(0, 15, 8, 0.95)';

				if (!passwordErrorMsg) {
					if (!checkRequired(password)) {
						var strArr = [ 'パスワード' ];
						passwordErrorMsg = getMessage('E-MSG-000001', strArr);
						document.getElementById('password_' + i).style.backgroundColor = 'rgba(255, 0, 85, 0.5)';
					}
				}
				if (!employeeNameKanaErrorMsg) {
					if (!checkHalfWidthKana(employeeNameKana)) {
						var strArr = [ '社員名カナ' ];
						employeeNameKanaErrorMsg = getMessage('E-MSG-000003',
								strArr);
						document.getElementById('employeeNameKana_' + i).style.backgroundColor = 'rgba(255, 0, 85, 0.5)';
					}
				}

				if (passwordErrorMsg && employeeNameKanaErrorMsg) {
					break;
				}
			}
		}
		errorMsg = passwordErrorMsg + employeeNameKanaErrorMsg;

		if (errorMsg) {
			alert(errorMsg);
			return false;
		}

		document.forms['mntform'].submit();
	}
</script>
</head>

<!-- クラスを付加 -->
<body class="cyber-page">
	<div id="wrapper">
	<!-- クラスを付加 -->
		<div class="cyber-outer-frame">

			<!-- ヘッダー領域 -->
			<div id="header">
				<div class="header-nav-left">
					<form action="/kikin/menu" method="post">
						<input value="← 戻る" type="submit" class="btn-cyber-nav" />
					</form>
				</div>
				<div class="header-nav-center">
					<div class="cyber-sub-title">DATABASE // EMPLOYEE MASTER</div>
					<h1 class="cyber-glitch-title">社員マスタメンテナンス</h1>
				</div>
				<div class="header-nav-right">
					<input value="ログアウト" type="button" class="btn-cyber-nav"
						onclick="logout()" />
				</div>
			</div>

			<!-- 業務ボディ領域 -->
			<div id="businessBody">
				<form id="mntform" action="/kikin/employeeMstMnt/update"
					class="employeeMstMntForm" method="post"
					th:object="${employeeMstMntForm}">

					<div class="table-container">
						<table class="cyber-table">
							<thead class="tableHeader">
								<tr>
									<th style="width: 150px;">社員ＩＤ</th>
									<th style="width: 180px;">パスワード</th>
									<th style="width: 180px;">社員名</th>
									<th style="width: 180px;">社員名カナ</th>
									<th style="width: 120px;">権限</th>
									<th style="width: 100px;">削除</th>
								</tr>
							</thead>

							<tbody class="tableBody">
								<tr
									th:each="item, itemStat : ${employeeMstMntForm.employeeMstMntBeanList}"
									class="employeeMntList">
									<td style="width: 150px; text-align: center;"><span
										class="cyber-id-text" th:text="${item.employeeId}"></span> <input
										type="hidden"
										th:field="*{employeeMstMntBeanList[__${itemStat.index}__].employeeId}" />
									</td>

									<td style="width: 180px; text-align: center;"><input
										type="password" class="cyber-input"
										th:value="*{employeeMstMntBeanList[__${itemStat.index}__].password}"
										th:id="'password_' + ${itemStat.index}" maxlength="6" /> <input
										type="hidden"
										th:field="*{employeeMstMntBeanList[__${itemStat.index}__].password}"
										th:id="'password_' + ${itemStat.index} + '_value'" /></td>

									<td style="width: 180px; text-align: center;"><input
										type="text" class="cyber-input"
										th:field="*{employeeMstMntBeanList[__${itemStat.index}__].employeeName}"
										maxlength="10" /></td>

									<td style="width: 180px; text-align: center;"><input
										type="text" class="cyber-input"
										th:field="*{employeeMstMntBeanList[__${itemStat.index}__].employeeNameKana}"
										th:id="'employeeNameKana_' + ${itemStat.index}" maxlength="10" />
									</td>

									<td style="width: 120px; text-align: center;"><select
										class="cyber-select"
										th:field="*{employeeMstMntBeanList[__${itemStat.index}__].AuthorityId}">
											<option value="01" th:selected="${item.AuthorityId == '01'}">管理者</option>
											<option value="02" th:selected="${item.AuthorityId == '02'}">一般</option>
									</select></td>

									<td style="width: 100px; text-align: center;"><input
										type="checkbox" class="cyber-checkbox"
										th:field="*{employeeMstMntBeanList[__${itemStat.index}__].deleteFlg}" />
									</td>
								</tr>
							</tbody>
						</table>
					</div>

					<div class="cyber-footer-actions">
						<input value="新規登録" name="button" type="button"
							class="btn-cyber-action"
							onclick="location.href='/kikin/employeeMstMnt/regist'" /> <input
							value="更新" name="button" type="button" class="btn-cyber-action"
							onclick="employeeMstMntUpdate()" />
					</div>
				</form>
			</div>
		</div>
	</div>
</body>

</html>