<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Cache-Control" content="no-cache">
  <meta http-equiv="Expires" content="Thu, 01 Dec 1994 16:00:00 GMT">
  <title>シフトマスタメンテナンス画面</title>
  <!-- ファイル名を shiftMstMnt.css に変更 -->
  <link rel="stylesheet" media="all" th:href="@{/css/shiftMstMnt.css}" />
  <script type="text/javascript" th:src="@{/js/common.js}"></script>
  <script type="text/javascript" th:src="@{/js/message.js}"></script>
  <script type="text/javascript" th:src="@{/js/checkCommon.js}"></script>
  <script>
    /**
     * 更新処理を行う
     */
    function shiftMstMntUpdate() {

      var row = document.querySelectorAll('.tableBody');
      var listSize = row.length;

      var startTimeErrMsg = '';
      var endTimeErrMsg = '';
      var breakTimeErrMsg = '';
      var fromToErrMsg = '';
      var errorMsg = '';

      with (document.forms['update'].elements) {

        for (var i = 0; i < listSize; i++) {

          var startTimeInput  = document.querySelector('#shiftMstMntBeanList' + i + '\\.startTime');
          var startTimeValue = startTimeInput.value;
          var endTimeInput = document.querySelector('#shiftMstMntBeanList' + i + '\\.endTime');
          var endTimeValue = endTimeInput.value;
          var breakTimeInput = document.querySelector('#shiftMstMntBeanList' + i + '\\.breakTime');
          var breakTimeValue = breakTimeInput.value;

          startTimeInput.style.backgroundColor = '#030814';
          endTimeInput.style.backgroundColor = '#030814';
          breakTimeInput.style.backgroundColor = '#030814';

          if (!startTimeErrMsg) {
            if (!checkTime(startTimeValue)) {
              var strArr = ['開始時間'];
              startTimeErrMsg = getMessage('E-MSG-000004', strArr);
              startTimeInput.style.backgroundColor = '#330000';
            } else {
              startTimeInput.style.backgroundColor = '#030814';
            }
          }
          if (!endTimeErrMsg) {
              if (!checkTime(endTimeValue)) {
                var strArr = ['終了時間'];
                endTimeErrMsg = getMessage('E-MSG-000004', strArr);
              endTimeInput.style.backgroundColor = '#330000';
            } else {
              endTimeInput.style.backgroundColor = '#030814';
            }
          }
          if (!breakTimeErrMsg) {
            if (!checkTime(breakTimeValue)) {
              var strArr = ['休憩時間'];
              breakTimeErrMsg = getMessage('E-MSG-000004', strArr);
              breakTimeInput.style.backgroundColor = '#330000';
            } else {
              breakTimeInput.style.backgroundColor = '#030814';
            }
          }

          if (!checkTimeCompare(startTimeValue, endTimeValue)) {
            if (checkTime(startTimeValue) && checkTime(endTimeValue)) {
              fromToErrMsg = getMessageCodeOnly('E-MSG-000005');
              startTimeInput.style.backgroundColor = '#330000';
              endTimeInput.style.backgroundColor = '#330000';
            }
          }
        }
      }

      errorMsg = startTimeErrMsg + endTimeErrMsg + breakTimeErrMsg + fromToErrMsg;

      if (errorMsg) {
        alert(errorMsg);
        return false;
      }

      document.getElementById('update').submit();
    }
  </script>
</head>

<body>
  <div id="wrapper">
    <div id="header">
      <table class="full-width">
        <tr>
          <td id="headLeft">
            <form action="/kikin/menu" method="post">
              <input value="戻る" type="submit" class="smallButton" />
            </form>
          </td>
          <td id="headCenter">
            シフトマスタメンテナンス
          </td>
          <td id="headRight">
            <input value="ログアウト" type="button" class="smallButton" onclick="logout()" />
          </td>
        </tr>
      </table>
    </div>
    <br>
    <div id="businessBody">
      <form id="update" action="/kikin/shiftMstMnt/update" th:object="${shiftMstMntForm}" method="post">
        <table class="overflowFixed">
          <thead style="display: block; position: sticky;">
            <tr class="tableHeader">
              <td style="width: 100px; box-sizing: border-box; text-align: center;">
                シフト名
              </td>
              <td style="width: 70px; box-sizing: border-box; text-align: center;">
                シンボル
              </td>
              <td style="width: 240px; box-sizing: border-box; text-align: center;">
                時間
              </td>
              <td style="width: 100px; box-sizing: border-box; text-align: center;">
                休憩
              </td>
              <td style="width: 70px; box-sizing: border-box; text-align: center;">
                削除
              </td>
            </tr>
          </thead>
          <tbody style="display: block; max-height: 300px; overflow-x: hidden; overflow-y: auto; scrollbar-gutter: stable;">
            <tr th:each="item, itemStat : *{shiftMstMntBeanList}" class="tableBody">
              <td style="width: 100px; box-sizing: border-box;">
                <input type="text" th:field="*{shiftMstMntBeanList[__${itemStat.index}__].shiftName}"
                        style="width: 100%; box-sizing: border-box; text-overflow: clip; text-align: center;" />
              </td>
              <td style="width: 70px; box-sizing: border-box;">
                <input type="text" th:field="*{shiftMstMntBeanList[__${itemStat.index}__].symbol}"
                        style="width: 100%; box-sizing: border-box; text-overflow: clip; text-align: center;" />
              </td>
              <td style="width: 100px; box-sizing: border-box;">
                <input type="text" th:field="*{shiftMstMntBeanList[__${itemStat.index}__].startTime}"
                        style="width: 100%; box-sizing: border-box; text-overflow: clip; text-align: center;" />
              </td>
              <td class="non-border" style="width: 40px; box-sizing: border-box; text-align: center;">
              ～
              </td>
              <td style="width: 100px; box-sizing: border-box;">
                <input type="text" th:field="*{shiftMstMntBeanList[__${itemStat.index}__].endTime}"
                        style="width: 100%; box-sizing: border-box; text-overflow: clip; text-align: center;" />
              </td>
              <td style="width: 100px; box-sizing: border-box;">
              	<input type="text" th:field="*{shiftMstMntBeanList[__${itemStat.index}__].breakTime}"
                        style="width: 100%; box-sizing: border-box; text-overflow: clip; text-align: center;" />
              </td>
              <td style="width: 70px; box-sizing: border-box;">
              	<input type="checkbox" th:field="*{shiftMstMntBeanList[__${itemStat.index}__].deleteFlg}"
                        style="width: 100%; box-sizing: border-box; text-overflow: clip; text-align: center;" />
              </td>
              <td class="hidden-cell">
                <input type="hidden" th:field="*{shiftMstMntBeanList[__${itemStat.index}__].shiftId}">
              </td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
    <div id="footer">
      <table>
        <tr>
          <td id="footLeft">
             
          </td>
          <td id="footCenter">
          </td>
          <td id="footRight">
            <form action="/kikin/shiftMstMnt/regist" method="post">
              <input value="新規登録" type="submit" class="smallButton" name="regist" />
              <input value="更新" form="update" type="submit" class="smallButton" style="margin:10px;" onclick="return shiftMstMntUpdate()"/>
            </form>
          </td>
        </tr>
      </table>
    </div>
  </div>
</body>

</html>