<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Expires" content="Thu, 01 Dec 1994 16:00:00 GMT">
<title>出勤希望日確認画面</title>
<link rel="stylesheet" media="all" th:href="@{/css/common.css}" />
<script type="text/javascript" th:src="@{/js/common.js}"></script>
<script type="text/javascript" th:src="@{/js/message.js}"></script>
</head>

<body>
	<div id="wrapper" style="padding: 10px">
		<div id="header">
			<!-- centered-container→ full-widthに変更　　障害No.21 川面　7/31-->
			<table class="full-width">
				<tr>
					<td id="headLeft">
						<form action="/kikin/menu" method="post">
							<input value="戻る" type="submit" class="smallButton" />
						</form>
					</td>
					<td id="headCenter">出勤希望確認</td>
					<td id="headRight"><input value="ログアウト" type="button"
						class="smallButton" onclick="logout()" /></td>
				</tr>
			</table>
		</div>
		<!--  障害票No.021 田渕 2026/8/7 -->
		<!-- div class="search"を追記 -->
		<!--No026 東國原 検索のボタンがなくても検索できるように修正 -->
		<div class="search" style="text-align: center; display: flex; justify-content: center; align-items: center; gap: 20px;">
			<form id="searchForm" action="/kikin/workDateRequestCheck/search"
				method="post" th:object="${workDateRequestCheckForm}">

				<label>表示年月：</label>
				<select th:name="yearMonth" id="yearMonth"
					onchange="document.getElementById('searchForm').submit();">
					<option th:each="yearMonth : ${yearMonthValues}"
						th:value="${yearMonth}" th:selected="${yearMonth} == *{yearMonth}"
						th:inline="text" inputmode="text">[[${yearMonth}]]</option>
				</select>
			</form>
			<!--No026 東國原 ページング機能を追加 -->
			<div th:if="${workDateRequestCheckBeanList != null && #lists.size(workDateRequestCheckBeanList) != 0}">
				<span th:if="${workDateRequestPage.isFirst()}">前へ</span>
				<a th:unless="${workDateRequestPage.isFirst()}"
					th:href="@{/kikin/workDateRequestCheck/search(page = ${workDateRequestPage.getNumber() - 1})}">前へ</a>
					
				<span th:if="${workDateRequestPage.isLast()}">次へ</span>
				<a th:unless="${workDateRequestPage.isLast()}"
					th:href="@{/kikin/workDateRequestCheck/search(page = ${workDateRequestPage.getNumber() + 1})}">次へ</a>
				<span th:text="| ${workDateRequestPage.getNumber() + 1} / ${workDateRequestPage.getTotalPages()}|"></span>
			</div>
			
		</div>

		<!--<br>追加　　障害No.21 川面　7/31 -->
		<br>

		<!-- id→ classに変更　　障害No.21 川面　7/31-->
		<div class="businessBody">
			<table class="daysTable">
				<thead style="display: block; position: sticky;">
					<tr class="tableHeader">
						<td style="width: 150px; text-align: center;">&nbsp;</td>
						<td th:each="dateBean : ${datebeanList}"
							style="width: 40px; text-align: center;"><span
							th:value="${dateBeanStat.count}">[[${dateBeanStat.count}]]</span>
						</td>
					</tr>
					<tr class="tableHeader">
						<td style="width: 150px; text-align: center; white-space: nowrap;">
							社員名</td>
						<td th:each="dateBean : ${datebeanList}"
							style="width: 40px; text-align: center; vertical-align: middle;">
							<span
							th:if="${dateBean.weekDay == saturday && !dateBean.publicHolidayFlg}"
							th:value="${dateBean.weekDay}" style="color: blue;">[[${dateBean.weekDay}]]</span>
							
						<!-- 障害No.16　 寺松 日曜日が赤色になるように修正 -->
							<span
							th:if="${dateBean.weekDay == '日' || dateBean.publicHolidayFlg}"
							th:value="${dateBean.weekDay}" style="color: red;">[[${dateBean.weekDay}]]</span>
							<span
							th:unless="${dateBean.weekDay == saturday || dateBean.weekDay == '日' || dateBean.publicHolidayFlg}"
							th:value="${dateBean.weekDay}" style="color: black;">[[${dateBean.weekDay}]]</span>
						<!-- ここまで　sundayの表記を全て'日'にした -->
						</td>
					</tr>
				</thead>
				<!--No014 東國原 ${resWorkDateRequestLogics} → ${workDateRequestCheckBeanList}
								workRequest1 → symbol01に修正（ページング済みの内容を表示するため）
								max-height: 400px; → 500pxに修正（要素が被るため） -->
				<tbody
					style="display: block; max-height: 500px;">
					<tr
						th:each="workDateRequestCheck : ${workDateRequestCheckBeanList}"
						class="tableBody">
						<td class="tableBody" style="width: 150px; text-align: center;">
							<span th:value="${workDateRequestCheck.employeeName}">[[${workDateRequestCheck.employeeName}]]</span>
						</td>
						<td class="tableBody" style="width: 40px; text-align: center;"
							th:text="${workDateRequestCheck.symbol01}"></td>
						<td class="tableBody" style="width: 40px; text-align: center;"
							th:text="${workDateRequestCheck.symbol02}"></td>
						<td class="tableBody" style="width: 40px; text-align: center;"
							th:text="${workDateRequestCheck.symbol03}"></td>
						<td class="tableBody" style="width: 40px; text-align: center;"
							th:text="${workDateRequestCheck.symbol04}"></td>
						<td class="tableBody" style="width: 40px; text-align: center;"
							th:text="${workDateRequestCheck.symbol05}"></td>
						<td class="tableBody" style="width: 40px; text-align: center;"
							th:text="${workDateRequestCheck.symbol06}"></td>
						<td class="tableBody" style="width: 40px; text-align: center;"
							th:text="${workDateRequestCheck.symbol07}"></td>
						<td class="tableBody" style="width: 40px; text-align: center;"
							th:text="${workDateRequestCheck.symbol08}"></td>
						<td class="tableBody" style="width: 40px; text-align: center;"
							th:text="${workDateRequestCheck.symbol09}"></td>
						<td class="tableBody" style="width: 40px; text-align: center;"
							th:text="${workDateRequestCheck.symbol10}"></td>
						<td class="tableBody" style="width: 40px; text-align: center;"
							th:text="${workDateRequestCheck.symbol11}"></td>
						<td class="tableBody" style="width: 40px; text-align: center;"
							th:text="${workDateRequestCheck.symbol12}"></td>
						<td class="tableBody" style="width: 40px; text-align: center;"
							th:text="${workDateRequestCheck.symbol13}"></td>
						<td class="tableBody" style="width: 40px; text-align: center;"
							th:text="${workDateRequestCheck.symbol14}"></td>
						<td class="tableBody" style="width: 40px; text-align: center;"
							th:text="${workDateRequestCheck.symbol15}"></td>
						<td class="tableBody" style="width: 40px; text-align: center;"
							th:text="${workDateRequestCheck.symbol16}"></td>
						<td class="tableBody" style="width: 40px; text-align: center;"
							th:text="${workDateRequestCheck.symbol17}"></td>
						<td class="tableBody" style="width: 40px; text-align: center;"
							th:text="${workDateRequestCheck.symbol18}"></td>
						<td class="tableBody" style="width: 40px; text-align: center;"
							th:text="${workDateRequestCheck.symbol19}"></td>
						<td class="tableBody" style="width: 40px; text-align: center;"
							th:text="${workDateRequestCheck.symbol20}"></td>
						<td class="tableBody" style="width: 40px; text-align: center;"
							th:text="${workDateRequestCheck.symbol21}"></td>
						<td class="tableBody" style="width: 40px; text-align: center;"
							th:text="${workDateRequestCheck.symbol22}"></td>
						<td class="tableBody" style="width: 40px; text-align: center;"
							th:text="${workDateRequestCheck.symbol23}"></td>
						<td class="tableBody" style="width: 40px; text-align: center;"
							th:text="${workDateRequestCheck.symbol24}"></td>
						<td class="tableBody" style="width: 40px; text-align: center;"
							th:text="${workDateRequestCheck.symbol25}"></td>
						<td class="tableBody" style="width: 40px; text-align: center;"
							th:text="${workDateRequestCheck.symbol26}"></td>
						<td class="tableBody" style="width: 40px; text-align: center;"
							th:text="${workDateRequestCheck.symbol27}"></td>
						<td class="tableBody" style="width: 40px; text-align: center;"
							th:text="${workDateRequestCheck.symbol28}"></td>
						<td th:if="${datebeanList.size() > 28}" class="tableBody"
							style="width: 40px; text-align: center;"
							th:text="${workDateRequestCheck.symbol29}"></td>
						<td th:if="${datebeanList.size() > 29}" class="tableBody"
							style="width: 40px; text-align: center;"
							th:text="${workDateRequestCheck.symbol30}"></td>
						<td th:if="${datebeanList.size() > 30}" class="tableBody"
							style="width: 40px; text-align: center;"
							th:text="${workDateRequestCheck.symbol31}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
<footer>
			<table>
				<tr>
					<td>
						<div style="margin-left: 50px;">
							<!--  障害票No.027 田渕 2026/8/6 -->
							<!-- <input value="凡例表示" type="button" class="longButton"  onclick="openWindo()" /> -->
							<!-- ↑修正前コード -->
							<!-- ↓修正後コード -->
							<input value="凡例表示" type="button" class="longButton"  onclick="openWindow()" />
						</div>
					</td>
				</tr>
			</table>
</footer>
</html>